<!DOCTYPE html>
<html>
    <head>
        <style>
            .DIV.table {
                display:table;
            }
            .FORM.tr, DIV.tr {
                display:table-row;
            }
           .SPAN.td {
                display:table-cell;
            }
         </style>
    </head>
    
    <body>
        <div class="table">
            <form class="tr" method="post">
                <span class="td">
                  <input type="text" name="username" value="{{data[username]}}">
                </q></span>
                <span class="td">
                  <input type="text" name="password" required>
                </span>
                
                <input id = "submit" type="submit" name="sub1" value="Submit">
            </form>
        </div>

        {% for value in data %}
        <tr><td>{{data[value]}}</td></tr>
        {% endfor %}    
    </body>
</html>